<!DOCTYPE html>
<html ng-app="app" ng-controller="MyController">
<head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.min.js"></script>
    <script src="treeview.js"></script>
    <script src="script.js"></script>
</head>
<body style="padding:10px;" class="container-fluid">
<h1>Treeview Demo</h1>
<hr />
<p>
    Use buttons to interact with treeview<br />
    <a class="btn btn-default" ng-click="toggleAll()">Toggle All in Second</a>
    <a class="btn btn-default" ng-click="toggle()">Toggle Selected</a>
    <a class="btn btn-default" ng-click="select()">Select First</a>
    <a class="btn btn-default" ng-click="unselect()">Unselect Selected</a>
</p>
<br />
<p>Selected node<br />
    {{ selectedNode }}</p><br />

<script type="text/ng-template" id="my/url/to/a/template.html">
    <div class="pull-right">{{ node.name }}</div>
</script>

<tree-view ng-model="myData" node-label="name" item-class="pull-left" item-ng-include="my/url/to/a/template.html"></tree-view>
</body>

</html>